@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "master.cshtml";
}

    <div class="container">
        <div class="row">
            <main class="col-lg-8 offset-lg-2 col-12 main">
                <h2 class="main__title">@Model.Value("mainOverskrift")</h2>
                <div class="main__content">
                    @Model.Value("mainIndhold")
                </div>
            </main>
        </div>
    </div>
<!-- Intro -->



<!-- Packages her -->


<!-- Medlemsskab -->
@{
    if (Model.Value("ctaOverskrift") != String.Empty && @Model.Value("ctaIndhold") != String.Empty)
    { @:


        @Model.Value("ctaOverskrift")
        @Model.Value("ctaIndhold")

        <a href="/log-ind">
            @{
                if (Model.Value("ctaButton") != String.Empty)
                {
                    @Model.Value("ctaButton");
                }
                else
                {
                    @: Klik mig
                }
            }
        </a>
    }
}
