@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "master.cshtml";
}

<div class="container">
    <div class="row">
        <main class="col-lg-8 offset-lg-2 col-12 main">
            <h2 class="main__title">@Model.Value("mainOverskrift")</h2>
            <div class="main__content">
                @Model.Value("mainIndhold")
            </div>
        </main>
    </div>
</div>
<!-- Intro -->
<!-- Packages her -->
<!-- Medlemsskab -->
@{
    if (Model.Value("ctaOverskrift").ToString() != String.Empty && @Model.Value("ctaIndhold").ToString() != String.Empty)
    { @:


        <div class="container">
            <div class="row">
                <main class="col-lg-8 offset-lg-2 col-12 main">
                    <h2 class="main__title">@Model.Value("ctaOverskrift")</h2>
                    <div class="main__content">
                        @Model.Value("ctaIndhold")

                        <a href="/log-ind" class="btn btn--loogame">
                            <span class="btn__text">
                                @{
                                    if (Model.Value("ctaButton").ToString() != String.Empty)
                                    {
                                        @Model.Value("ctaButton");
                                    }
                                    else
                                    {
                                        @: Klik mig
                                    }
                                }
                            </span>
                        </a>
                    </div>
                </main>
            </div>
        </div>
    }
}
