@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "master.cshtml";
}

<!-- Intro -->
<div class="container">
    <div class="row">
        <main class="col-lg-8 offset-lg-2 col-12 main">
            <h2 class="main__title">@Model.Value("mainOverskrift")</h2>
            <div class="main__content">
                @Model.Value("mainIndhold")
            </div>
        </main>
    </div>
</div>

<!-- Packages her -->
<div class="packages">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="packages__title text-center">Pakkeløsninger</h2>
            </div>

            @{
                var pakker = Model.Value<IEnumerable<IPublishedElement>>("pakkeLosninger");
                foreach (var pakke in pakker){

                    var image = pakke.Value<IPublishedContent>("packIkon");
                    var title = pakke.Value("packTitel");
                    var price = pakke.Value("packPrice");

                    <div class="col-8 offset-2 offset-md-3 col-md-6 col-lg-4 offset-lg-0 pack-container">
                        <div class="pack">
                            <div class="pack__header">
                                <img class="icon" src="@image.Url" alt="@image.Value("Alt")">
                                <h3 class="title">@title</h3>
                            </div>

                            <div class="pack__content">
                                @{
                                    if (pakke.Value<string[]>("packUSP").Length > 0)
                                    {
                                        <ul class="pack-list">
                                            @foreach (var item in pakke.Value<string[]>("packUSP"))
                                            {
                                                <li>@item</li>
                                            }
                                        </ul>
                                    }
                                }

                                <a title="Bestil @title pakken" href="#" class="btn btn-success">
                                    <span class="btn__bold d-block">@price DKK / måned </span>
                                    <span class="btn__fade">Ekskl. moms</span>
                                </a>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>

<!-- Medlemsskab -->
@{
    if (Model.Value("ctaOverskrift").ToString() != String.Empty && @Model.Value("ctaIndhold").ToString() != String.Empty)
    { @:








        <div class="container">
            <div class="row">
                <main class="col-lg-8 offset-lg-2 col-12 main">
                    <h2 class="main__title">@Model.Value("ctaOverskrift")</h2>
                    <div class="main__content">
                        @Model.Value("ctaIndhold")

                        <div class="col-12 text-center mt-5">
                            <a title="Gå til log ind siden" href="/log-ind" class="btn btn-secondary text-center">
                                @{
                                    if (Model.Value("ctaButton").ToString() != String.Empty)
                                    {
                                        @Model.Value("ctaButton");
                                    }
                                    else
                                    {
                                        @: Klik mig
                                    }
                                }
                            </a>
                        </div>
                            
                    </div>
                </main>
            </div>
        </div>
    }
}
