@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Web

@{ var selection = Model.Root().Children.Where(x => x.IsVisible()).ToArray(); }

    <a href="/">
        @{
            // Get logo
            var logo = Model.Root().Siblings().FirstOrDefault(x => x.ContentType.Alias == "headerFooter");
            var lSrc = logo.Value<IPublishedContent>("mainLogo");

            if (lSrc != null)
            {
                @: <img src="@lSrc.Url" alt="@lSrc.Value("alt")" />
            } else {
                @: <span>Erol Bakic</span>
            }
        }
    </a>

@if (selection.Length > 0) {
    <ul>
        <li><a href="#">Menu 1</a></li>
        <li><a href="#">Menu 2</a></li>

        @foreach (var item in selection)
        {
            <li class="@(item.IsAncestorOrSelf(Model) ? "current" : null)">
                <a href="@item.Url">@item.Name</a>
            </li>
        }
    </ul>
}